* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
.content {
  margin: auto;
}
.keycode-area{
  width: 150px;
  height: 75px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.key,.keycode{
  font-size: 18px;
  color: darkslateblue;
}